body {
    overflow-x:hidden;
    height: 100%;
    background-color: #62AA00;
}

button {
    outline: none; 
  }

a:hover {
    cursor: pointer;
}

html {
    height: 100%;
    background-color: #62AA00;
}

#root {
    height: 100%;
    background-color: #62AA00;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}

.align-center-ver {
    padding-top: 20%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}